
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>LLaMA GPT</title>
</head>
<body>
    <img id="metaslika" src="{{url_for('static', filename='meta.png')}}" onclick="window.location.href = 'https://ai.meta.com/';">
    <div class="layout">
    <div class="content">
    <h1>LLaMA 2 chat</h1>
    <div id="model">
        <h3>Model: </h3>
        <select id="filter">
          <option value="7B">LLaMA-2-7B-chat</option>
          <option value="13B">LLaMA-2-13B-chat</option>
        </select>
      </div>
    <div id="chat"></div>
    <div class="footer-search" >
        <input type="text" id="pitanje" placeholder="Pitanje">
        <button id="search-button"  onclick="posaljiPitanje()">
            <i class="fa fa-send fa-lg"></i>
        </button>
        <button id="trash-button"  onclick="izbrisiRazgovor()">
            <i class="fa fa-trash fa-lg"></i>
        </button>
    </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
</html>
