body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#metaslika {
    position: fixed;
    margin-top: 2%;
    margin-left: 2%;
}

.loader {
    margin-left: 40%;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #1c1e21;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.layout {
    display: flex;
    min-height: 100vh;
}

/* Stil za sadržaj s desne strane */
.content {
    color: #1c1e21;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.content h1 {
    font-size: 35px;
}

.content p {
    font-size: 20px;
}

.footer-search {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color:  #0080FB;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}



#pitanje {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
    height: auto;
    min-height: 40px;
    width: 30%;
    font-size: 24px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0026fb;
    color: white;
    cursor: pointer;
    min-height: 50px;
}

i {
    height: 100%;
    width: 100%;
}

#trash-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: firebrick;
    color: white;
    cursor: pointer;
    margin-left: 1%;
    min-height: 50px;
}

#search-button:hover {
    background-color: #173aff;
}


#chat {
    width: 50%;
    margin: auto;
    margin-bottom: 7%;
    margin-top: 3%;
}

/* Stil za poruke korisnika */
.user1, .user2 {
    color: #fff;
    padding: 5%;
    display: flex;
    background-color: #838383;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user2 {
    color: #1c1e21;
    background-color: #f1f4f7;
}

.user1 img, .user2 img {
    width: 80px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.message {  
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    word-wrap: break-word;
    text-align: left;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: color 0.3s ease; 
}

.message:last-child {
    opacity: 1;
    transform: translateX(0);
  }

.korisnik {
    content: url("/static/korisnik.jpg");
}

.llama {
    content: url("/static/llama.png");
}


select {
    width: 200px;
    background-color: #f1f4f7;
    color: #1a1a1a;
    padding: 8px;
    cursor: pointer;
    margin-left: 5%;
}

option {
    height: 2%;
}
  
select:hover {
    background-color: #e0e0e0;
}
  
select:focus {
    outline: none; 
    border-color: #007bff; 
}

#model {
    display: inline-flex;
}
